:root{
    --width-content: 1200px;
    --color-primary: #437085;
    --color-secondary: #434f85;
    --color-gray: #343434;
    --color-med-gray: #8c8c8c;
    --color-light-gray: #f8f8f8;

}

/* Layout */
html{
    height: 100%;
}

body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin:0 auto;
    overflow-x: hidden;
    max-width: var(--width-content);
    background-color: #f8f8f8;

    color: var(--color-gray);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, Arial, sans-serif;
}

header, nav, main, footer{
    padding: 1rem;
}

/* Header */
header{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header img{
    height: 50px;
}

header a {
    height: 50px;
}

header a:hover{
    border: none;
}

/* Navigation */
nav{

}

nav ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin:0;
}

nav ul li{
    display: inline-block;
    text-align: center;
    flex-grow: 1;
    margin: .25rem .5rem;
    padding: 0;
}

nav ul li a{
}

nav ul li a:hover{
}

/* Main content */
main{
    flex-grow: 1;
}

/* Footer */
footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

/* Elements */
section h1{
    font-size: 32px;
}


a{
    color: var(--color-primary);
    text-decoration: none;
}

a:hover{
    color: var(--color-secondary);
    border-bottom: 2px solid var(--color-secondary);
    padding-bottom: 1px;
}

a:visited {
    color: var(--color-secondary);
}

p{
    line-height: 1.4rem;
}

blockquote{
    border-left: 2px solid var(--color-primary);
    padding: .75rem 1rem .75rem 2rem;
    margin: 1rem 0;
    background: #f6f6f6;
}

blockquote p{
    margin: 0;
}

pre{
    white-space: wrap;
    overflow-x: scroll;
}

kbd{
    display: inline-block;
    background-color: var(--color-light-gray);
    border: 1px solid #969696;
    border-radius: 4px;
    color: #202020;
    padding: 1px 4px;
}

q{
    font-style: italic;
}
/* Lists */
ul, ol{
    padding-left: 1rem;
    margin-left: 1rem;
}

li{
    padding-left: .5rem;
}

dl dt{
    font-weight: bold;
}
dl dd{
    margin-left: 2rem;
    margin-bottom: .5rem;
}

/* Horizontal Row */
hr{
    margin: .5rem auto;
    border: 1px solid var(--color-med-gray); 
}

/* Tables */
table {
    border-collapse: collapse;
    border-spacing: 0;
    white-space: nowrap;
}

table, thead, tbody,tfoot,caption{
    width:100%;
}

thead, tfoot{
    background-color: var(--color-primary);
    color: var(--color-light-gray);
}

thead {
    text-transform: uppercase;
}

tbody tr:nth-child(odd){
    background: #dbdbdb;
}

th, td{
    border: 1px solid var(--color-gray);
    padding: .5rem;
    text-align: center;
}

table caption{
    caption-side: bottom;
    padding: .5rem;
    font-size: .9rem;
}
