:root{
    /* Sizing */
    --width-content: 60rem;
    --width-form: 60rem;
    --border-radius: 6px;

    /* Colors */
    --color-primary: #13293d;
    --color-secondary: #434f85;
    --color-thirdly: #3f4045;
    --color-primary-tint: #6472b1;
    --color-accent: #ffa630;
    --color-gray: #3f4045;
    --color-med-gray: #828489;
    --color-light-gray: #f8f8f8;
    --color-bg: #fdfdfd;
    --color-bg-med: #ececec;

    /* Fonts */
    --font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-monospace: Menlo,Monaco,Consolas,'Courier New',monospace;
    --font-color-dark: #272727;
    --font-color-light: #f8f8f8;
    --font-color-med: #6e7075;
}

/* Layout */
html{
    box-sizing: border-box;
    font-size: 100%;
}

*, *:before, *:after{
    box-sizing: inherit;
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: var(--color-bg);
    color: var(--font-color-dark);
    font-family: var(--font-family);
}

header, nav, main, footer{
    width: 100%;
    padding: 0;
}

/* Header and Footer */
body > header, body > footer{
    background-color: var(--color-primary);
    color: var(--font-color-light);
}

body > header div, body > footer div{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    max-width: var(--width-content);
    width: 100%;
    margin: 0 auto;
    padding: .5rem 1rem;
}

body > header a, body > footer a{
    color: var(--font-color-light);
}

body > header a:visited, body > footer a:visited{
    color: var(--font-color-light);
}

body > header img{
    height: 3rem;
    margin: .5rem 1rem .5rem 0;
    max-width: 100%;
}

body > header > div a[href="/"]{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--font-color-light);
    padding-bottom: 0;
}

body > header p, body > footer p{
    margin: .5rem 0;
}

/* Main Site Navigation */
body > header nav{
    margin: 0 auto;
    background-color: var(--color-secondary);
}

body > header nav ul{
    max-width: var(--width-content);
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0 1rem;
    margin: 0 auto;
}

body > header nav ul li{
    display: inline-block;
    text-align: center;
    flex-grow: 1;
    margin: .5rem;
    padding: 0;
}

body > header nav ul li a{
    color: var(--color-light-gray);
    padding: .5rem 0;
    text-decoration: none;
}

body > header nav ul li a:visited{
    color: var(--color-light-gray);
}

/* Main content */
main{
    flex-grow: 1;
    max-width: var(--width-content);
    margin: 0 auto;
    padding: 1rem;
}

/* Elements */
h1,h2,h3,h4,h5,h6{
    word-wrap: break-word;
    margin-top: 1em;
    margin-bottom: .5em;
}
h1{font-size: 2.5rem;}
h2{font-size: 2.25rem;}
h3{font-size: 2rem;}
h4{font-size: 1.75rem;}
h5{font-size: 1.5rem;}
h6{font-size: 1.25rem;}

a{
    color: var(--color-primary-tint);
}

a:hover{
    filter: brightness(85%);
}

a:visited {
    color: var(--color-secondary);
}

p, li, dd{
    line-height: 1.5rem;
}

blockquote{
    border-left: 6px solid var(--color-primary);
    padding: .75rem 2rem;
    margin: 1rem 0;
    background-color: var(--color-bg-med);
}

blockquote p{
    margin: .5rem 0;
}

pre, code, kbd{
    font-family: var(--font-monospace);
    font-size: 1rem;
}

pre{
    white-space: pre-wrap;
    overflow-x: auto;
    background-color: var(--color-primary);
    color: var(--color-light-gray);
    padding: 1rem 2rem;
}

pre code{
    display: inline-block;
    border-left: 6px solid var(--color-accent);
    background-color: inherit;
    margin: -1rem -2rem;
    padding: 1rem calc(2rem - 6px);
}

code {
    background-color: var(--color-bg-med);
    padding: 0 4px;
    word-wrap: break-word;
}

mark{
    background-color: var(--color-accent);
    padding: 0 1px;
}

kbd{
    display: inline-block;
    background-color: var(--color-light-gray);
    border: 1px solid #969696;
    border-radius: var(--border-radius);
    color: #202020;
    padding: 0 6px;
    margin: 2px;
}

q{
    font-style: italic;
}

details{
    display: inline-block;
}

details > summary{
    font-weight: bold;
    cursor: pointer;
    margin: .5rem 0;
}

details > summary:focus{
    outline: none;
}

/* Lists */
ul, ol{
    padding-left: 1rem;
    margin-left: 1rem;
}

li{
    padding-left: .5rem;
    margin: 2px 0;
}

dt{
    font-weight: bold;
}

dd{
    margin-left: 2rem;
    margin-bottom: .5rem;
}

img{
    max-width: 100%;
}

/* Horizontal Row */
hr{
    margin: 1rem auto;
    border: 1px solid var(--color-med-gray); 
}

/* Tables */
table {
    border-collapse: collapse;
    border-spacing: 0;
    white-space: nowrap;
    border: 1px solid var(--color-med-gray);
    table-layout: fixed;
    width: 100%;
    overflow-x: auto;
    font-size: .875rem;
    margin: 1rem auto;
}

thead{
    background-color: var(--color-primary);
    text-transform: uppercase;
}

tbody tr:nth-child(odd){
    background-color: #dbdbdb;
}

tfoot{
    background-color: var(--color-gray);
}

th, td{
    padding: .5rem .1rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

th, tfoot td{
    font-weight: bold;
    color: var(--font-color-light);
}

table caption{
    caption-side: bottom;
    padding: .5rem;
    font-size: .875rem;
    text-align: left;
    border-left: 1px solid var(--color-med-gray);
    border-right: 1px solid var(--color-med-gray);
    border-bottom: 1px solid var(--color-med-gray);
    white-space: pre-wrap;
}

/* Forms */
form{
    border: 2px solid var(--color-med-gray);
    border-radius: var(--border-radius);
    padding: .5rem 1rem;
    background-color: var(--color-bg);
    max-width: var(--width-form);
    margin: 2rem auto;
}

fieldset{
    border-radius: var(--border-radius);
    border: 1px solid var(--color-thirdly);
    margin: 1rem 0;
}

legend{
    margin: 0 1rem;
    font-weight: bold;
}

form div{
    margin: 1rem 0;
}

label{
    display: block;
    font-weight: bold;
    margin-bottom: .25rem;
}

form ul{
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

form ul li{
    padding-left: 0;
    margin-bottom: .25rem;
}

form ul li label{
    font-weight: normal;
    display:inline-block;
    margin-bottom: 0;
}

input, select, textarea{
    width: 100%;
    margin: 0;
    padding: 6px;
    display:inline-block;
    font-family: inherit;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-med-gray);
}

input[type=checkbox], input[type=radio]{
    margin-right: .5rem;
    width: initial;
}

input[type=color]{
    padding: 2px 3px;
    height: 2rem;
    width: 2rem;
}

button, input[type=button]{
    width: auto;
    background-color: var(--color-primary);
    display: inline-block;
    padding: .5rem 1rem;
    margin-bottom: .25rem;
    border-radius: var(--border-radius);
    border: 2px solid var(--color-med-gray);
    color: var(--font-color-light);
    font-family: var(--font-family);
    font-size: .875rem;
    cursor: pointer;
}

button[type=reset]{
    background-color: var(--color-med-gray);
    border-color: var(--color-gray);
}

button[type=reset]:hover{
    background-color: var(--color-light-gray);
    color: var(--font-color-med);
}

button:hover, input[type=button]:hover{
    background-color: var(--color-primary-tint);
}

button[disabled], input[disabled]{
    background-color: var(--color-light-gray);
    color: var(--color-gray);
    cursor: not-allowed;
}

textarea div{
    font-family: var(--font-family);
}
